body {
    font-family: Arial, sans-serif;
    background-color: #ffe6e6; 
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header {
    background-color: #ffc0cb; 
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

h1 {
    color: #fff; 
}

.message {
    padding: 20px;
    text-align: left;
    font-size: 18px;
    color: #333; 
}

.video {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

